html, body{
    width:              100%;
    height:             100%;
    margin:             0px 0px;
    padding:            0px 0px;
}

div{
    text-align:         center;
    margin:             10% 10%;
}

nav{
}

span{
}

footer{
    text-align:         center;
}

h1{
    color:              blue;
    font-size:          28pt;
}

h1:hover{

}

ul{

}

li{
    display:        inline;
    padding:        0px 10px;
    color:          green;
}

a{
    text-decoration:    none;
    color:              #888;
    font-family:        Arial, Helvetica;
    font-size:          18pt;
    font-weight:        bold;
    border-radius:      0px;
    transition:         all .3s;
}


a:hover{
    color:              #444;
    border-right:       2px solid #333;
    border-left:        2px solid #333;
    padding:            3px 15px;
    border-radius:      10px;
    transition:         all .3s;

}

img{
    box-shadow:         3px 3px 15px #999;
}

img:hover{]
}